@media screen and (max-width:576px) {
  .nav-main {
    flex-direction: column;
  } 
  .nav-right{
  display: flex;
  flex-direction: column;

  } 
  .nav-right button{
    margin-top: 10px;
  }
  .header-main{
    flex-direction: column-reverse;
  } 
  .header-left, .header-right{
    width: 80%;
    margin-top:40px ;
  } 
  .header-left{
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
    /* border: 2px solid blue; */
    width: 90%;
    padding: 20px 30px 20px 30px;
  }
  .header-left h1{
    font-size: 28px;
  }
  #goat{
    font-size: 28px; 
  }
.header-left p{
    font-size: 12px;
  }
  .btn-primary{
    border-radius: 48px;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    padding: 5px 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}
  .btn-scondary{
    border-radius: 48px;
    background-color: rgb(78, 197, 247);
    padding: 5px 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}
/* gamer */
.gamer{
    flex-direction: column;
}
.gamer-left, .gamer-right{
    width: 80%;
    margin: 20px auto;
}
.gamer-left img{
    width: 100%;
}
.gamer-right{
    text-align: center;
}
.gamer-right h1{
    font-size: 28px;
}
.gamer-right h4{
   font-size: 16px; 
}
.card-box{
    flex-direction: column;
}
.card{
    width: 90%;
    margin: 20px auto;
}
.card img{
    width: 100%;
}
/* hover effect */
.watch-now{
    display: none;
    top: 10%;
    left: 35%;
}
.watch-now span{
    font-size: 30px;
    color: white;
}
.watch-now p{
    color: rgb(195, 83, 83);
}
.card:hover .watch-now, .card:hover img{
    display: block;
    filter: brightness(50%);
}


/* play section */
.play{
    flex-direction: column;
}
.play-left{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
.play-right{
    width: 80%;
    margin-right: 0 ;
    /* border: 2px solid black; */
}
.cat img{
    width: 110px;
    height: 110px;
}
.cat{
   bottom: -150px;
   left: -35px;
}

.play-1{
    flex-direction: column-reverse;
}
.play1-left, .play1-right{
    width: 80%;
    margin: 0 auto;
}
.play1-right h1{
font-size: 30px;
}
.play1-right{
    margin-bottom: 40px;
    text-align: center;
}
.cat-1{
    width: 120px;
    height: 120px;
    right: 40px;
    left: 185px;
    bottom: -50px;
}
/* career */
.career-box{
    flex-direction: column;
}
.career-left, .career-right{
    width: 100%;
    
}
.career-left{
    margin-bottom: 40px;
}

.career-right p{
font-size: 8px;
}
/* flex wrap */
.flex-child{
    min-width: 50px;
    font-size: 5px;
}
.flex-child img{
    width: 25px;
}
.flex-child:hover{
    outline:1px solid #F948B2;
}

.footer-container{
    width: 90%;
    font-size: 30px;
    
    margin: 40px auto;
    text-align: center;
}
.span-g{
    color: #F948B2;
}
.heading{
    display: flex;
    text-align: center;
    margin-left: 80px;
}
.para{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.para p{
    color: white;
    font-size: 10px;
} 
.icon{
    font-size: 25px;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
   
}
.policy{
    display: flex;
    margin-top: 20px;
    
    margin-bottom: 40px;
    justify-content: space-around;
}
.policy p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 8px;
}
.footer-container p{
    font-size: 10px; 
}

    
}