@media screen and (max-width:576px) {
  .nav-main {
    flex-direction: column;
  } 
  .nav-right{
  display: flex;
  flex-direction: column;

  } 
  .nav-right button{
    margin-top: 10px;
  }
  .header-main{
    flex-direction: column-reverse;
  } 
  .header-left, .header-right{
    width: 80%;
    margin-top:40px ;
  } 
  .header-left h1{
    font-size: 36px;
  }
.header-left p{
    font-size: 12px;
  }
    
}