@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font family */
body{
    font-family: "Work Sans", sans-serif;
}
p{
    color: rgb(83, 76, 100);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}


/* nav style */
.nav-container{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}
.nav-left{
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;

}
.nav-right{

}
.nav-btn{
 background-color: transparent;
 border: none;
 font-size: 18px;
 font-weight: 500;
 color: rgb(60, 53, 79);
 margin-right: 15px;
}
.nav-btn-follow{
background-color: rgba(11, 2, 35, 0.1);
padding: 7px 15px;
border-radius: 8px;
margin-right: 0;
}
/* banner */
.header-container{
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: left;
}
.header-main{
   /* border: 2px solid black; */
   display: flex;
   max-width: 80%;
   margin: 0 auto;
   justify-content: space-between;
    align-items: center;
   
   
} 
.header-left{
    /* border: 2px solid blue; */
    width: 43%;
    
}
.header-left h1{
   color: rgb(11, 2, 35);
   
   font-size: 48px;
   font-weight: 600;
}
#goat{
   background-image: linear-gradient(#F948B2, #8758F1);
   background-clip: text;
   color: transparent;
   font-size: 55px;
   font-weight: 800;
   
}
.header-right{
    /* border: 2px solid brown; */
    width: 43%;
}
.header-right img{
    width: 100%;
}

.btn-primary{
    border-radius: 48px;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}
.btn-scondary{
    border-radius: 48px;
    background-color: rgb(78, 197, 247);
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}
/* gamer */
.gamer{
  max-width: 80%;
  margin: 80px auto; 
  /* border: 2px solid blue; */
  display: flex; 
  justify-content: space-between;
}
.gamer-left{
 width: 50%;
 /* border: 2px solid pink;    */
}
.gamer-left img{
    width: 100%;
}
.gamer-right{
    width: 35%;
    /* border: 2px solid pink; */
    text-align: right;

}
.gamer-right h1{
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    color: transparent;
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0 20px 0;   
}
.gamer-right p{
    margin: 10px 0 10px 0;
}
.gamer-right{
    color: rgb(83, 76, 100);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
.online{
    max-width: 80%;
    margin: 40px auto;
    /* border: 2px solid blue; */
    text-align: center;
}
.online-h1{
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: 700;  
}
.online h1{
    font-size: 36px;
    font-weight: 700;
    margin-top: 30px;  
}
.card-box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    /* position: relative; */
    
}
.card{
    width: 24%;
    text-align: left;
    position: relative;
}
.card-box img{
    width: 100%;
}
/* hover effect */
.watch-now{
    text-align: center;
    /* border: 2px solid blue; */
     position: absolute;
    top:40%;
    left: 35%;
    
    display: none;
}
.watch-now span{
    font-size: 30px;
    color: white;
}
.watch-now p{
    color: rgb(195, 83, 83);
}

.card:hover .watch-now, .card:hover img{
display: block;
filter: brightness(50%);
}

/* play instanty */
.play{
    max-width: 80%;
    
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid blue; */
}
.play-left{
    width: 40%;
    /* border: 2px solid blue; */
    text-align: right;
}
.play-left h1{
    font-size: 32px;
font-weight: 700;
}
.play-left p{
    margin-top: 10px;
}
.play-right{
    width: 40%;
    
    position: relative;
}
.play-right img{
    width: 100%;
}
.play-right .cat{
    width: 200px;
    height: 200px;
}
.cat{
   position: absolute;
   bottom: -50px; 
   left: -70px;
}

/* play-1 */
.play-1{
    max-width: 80%;
    
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid blue; */
}
.play1-left{
 width: 40%;
 /* border: 2px solid green; */
 position: relative;   
}
.play1-left img{
    width: 100%;
}
.play1-right{
width: 35%;
text-align: left;
font-size: 28px;
/* border: 2px solid green; */

}
.play-right p{
    margin-top: 80px;
}
.cat-1{
    width: 200px;
    height: 200px;
    position: absolute;
    right: -10px;
    left: 350px;
    bottom: -30px;
}

/* career section */
.career{
    min-height: 500px;
    padding: 30px;
    background-color: rgb(255, 66, 165);
}
.career-box{
    max-width: 80%;
    
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
}
.career-left, .career-right{
    width: 40%;
}
.career-left{
    color: white;
}
.career-left h4{
    font-size: 28px;
    margin-bottom: 30px;
    color: white;
}
.career-left p{
    color: white;
}
.career-right img{
    width: 100%;
}
.div-box{
    margin-top: 20px;
    
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}
.div-box p{
    font-size: 12px;
}
.div-2{
    text-align: right;
}















/* .footer{
    background-color: rgb(11, 2, 35);
}
.footer-container{
    width: 40%;
    margin: 40px auto;
} */
